Django==1.9.2
argparse==1.2.1
elasticsearch==5.0.0
requests==2.11.1
requests-aws4auth==0.9
urllib3==1.18
wsgiref==0.1.2
boto3==1.4.1
botocore==1.4.78
docutils==0.12
futures==3.0.5
jmespath==0.9.0
oauthlib==2.0.1
pysolr==3.6.0
python-dateutil==2.6.0
requests-oauthlib==0.7.0
six==1.10.0
requests==2.11.1
python-gcm==0.4
